.container {
    padding: 0 2rem;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
}

.blue {
    color: #0ea5e9;
}

.button {
    color: black;
    margin: 0.5rem 0;
    border: black 0.1rem solid;
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    width: 20%;
    text-align: center;
    transition: 0.3s;
}

.button:hover {
    background-color: black;
    color: white;
}

@media (max-width: 600px) {
    .button {
        width: 80%;
    }
}
