.main,
.mainCenter,
.mainError {
    min-height: 100vh;
    padding: 4rem 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.mainCenter,
.mainError {
    align-items: center;
}

.mainError {
    justify-content: center;
}

.title,
.titleNewCampaign,
.titleError {
    margin: 0;
    margin-top: 4rem;
    margin-bottom: 1rem;
    line-height: 1.15;
    font-size: 2rem;
    text-align: left;
    width: 50%;
}

.titleNewCampaign {
    width: 70%;
}

.titleError {
    width: 100%;
    text-align: center;
}

.container,
.plans {
    width: 100%;
    column-gap: 3rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.plans {
    column-gap: 1rem;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.buttonContainer {
    margin-top: 4rem;
    margin-bottom: 1rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button {
    margin: 0.5rem 0;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    text-align: center;
    transition: 0.3s;
    background-color: #0ea5e9;
    color: white;
    border: none;
    width: fit-content;
    border-radius: 0.5rem;
}

.button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.form {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formElement,
.formColElement {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 0.5rem 0;
}

.formColElement {
    align-items: flex-start;
    flex-direction: column;
}

.formLabel {
    margin: 0;
    font-size: 1rem;
    text-align: left;
    width: 30%;
}

.formSimpleInput {
    width: 100%;
    margin: 0;
    border: #d9d9d9 0.1rem solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.formSimpleInput:focus,
.textarea:focus,
.amtInput:focus {
    outline: none;
    border-color: black;
}

.buttonDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1rem;
}

.buttonBlue {
    margin: 0.5rem 0;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    text-align: center;
    transition: 0.3s;
    background-color: #0ea5e9;
    color: white;
    border: none;
    width: fit-content;
    border-radius: 0.5rem;
}

.formBoldLabel {
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: left;
}

.instructions {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    color: #6b7280;
}

.textarea {
    padding: 0.5rem;
    border: #d9d9d9 0.1rem solid;
    border-radius: 0.5rem;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.plan {
    border: #0ea5e9 0.1rem solid;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.formSublabel {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.amtInput {
    border: none;
    border-bottom: #d9d9d9 0.1rem solid;
    font-weight: bold;
    font-size: 1rem;
    width: 8rem;
}

.selectButton,
.selectedButton {
    margin: 0.5rem 0;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    text-align: center;
    transition: 0.3s;
    background-color: white;
    border: #0ea5e9 0.1rem solid;
    color: #0ea5e9;
    width: fit-content;
    border-radius: 0.5rem;
    width: 100%;
}

.buttonBlue:hover,
.selectButton:hover,
.selectedButton {
    background-color: black;
    color: white;
    cursor: pointer;
    border-color: black;
}

.buttonText {
    margin: 0;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    border-bottom: #d9d9d9 0.1rem solid;
    transition: 0.3s;
}

.profile:hover {
    cursor: pointer;
    color: #0ea5e9;
}

.username,
.usernameSelected {
    margin: 0.5rem;
}

.usernameSelected {
    color: #0ea5e9;
}

@media (max-width: 600px) {
    .container {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
